body{
	display: flex;
	flex-direction: column;
}
.title{
	text-align: center;
	font-size: 40px;
	color: rgb(222, 160, 35);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}
.time{
	text-align: center;
	font-size: 35px;
	margin: 10px;
}
.startBtn{
	margin: 50px;
	border: solid 5px;
}
.during-game{
	display:flex;
	flex-direction: column;
	justify-self: center;
}
.word-display{
	text-align: center;
	font-size: 50px;
	padding: 10px;
	border: solid white 5px;

}
.time-left{
	text-align: center;
	font-size: 25px;
}
.current-score{
	text-align: center;
	font-size: 25px;
}
.correct-guess{
	align-items: center;
	color: green;
	border: solid;
	font-size: xx-large;
	padding: 30px;
}
.pass{
	margin: 15px;
	padding: 30px;
	color: red;
	border: solid;
	width: 300px;
	font-size: x-large;

}
@keyframes blink {
	0%, 100% {background-color: white}
	50% {background-color: red}
}
.blink-screen{
	display: flex;
	flex-direction: column;
	animation: blink 0.5s ease-in-out 3;
}
.time-end{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.total-score{
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: xx-large;
}
.next-game{
	display: flex;
	flex-direction: column;
	justify-self: center; 
	font-size: 40px;
	border: solid 5px;
}
.back-toBtn{
	display: flex;
	flex-direction: column;
	justify-self: center; 
	margin: 20px;
	font-size: 40px;
	border: solid 5px;
}