body{
	display: flex;
	flex-direction: column;
}
.title{
	text-align: center;
	font-size: 40px;
	color: rgb(222, 160, 35);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
	border: solid 3px rgb(222, 160, 35);
	border-radius: 20px;
	padding: 10px;
}
.time{
	text-align: center;
	font-size: 35px;
	margin: 10px;
}
.startBtn{
	margin: 50px;
	border: solid 5px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}
.during-game{
	display:flex;
	flex-direction: column;
	justify-self: center;
}
.word-display{
	text-align: center;
	font-size: 60px;
	padding: 20px;
	border: solid 5px rgb(222, 160, 35);

}
.time-left{
	text-align: center;
	font-size: 25px;
	color: rgb(199, 80, 16)
}
.current-score{
	text-align: center;
	font-size: 25px;
	color:rgb(199, 80, 16)
}
.correct-guess{
	align-items: center;
	color: rgb(0, 129, 0);
	border: solid;
	font-size: xx-large;
	padding: 30px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}
.pass{
	margin: 15px;
	padding: 30px;
	color: rgb(255, 0, 0);
	border: solid;
	width: 300px;
	font-size: x-large;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);

}
@keyframes blink {
	0%, 100% {background-color: rgb(255, 255, 255)}
	50% {background-color: rgb(247, 0, 0)}
}
.blink-screen{
	display: flex;
	flex-direction: column;
	animation: blink 0.5s ease-in-out 3;
}
.time-end{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.total-score{
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: xx-large;
}
.next-game{
	display: flex;
	flex-direction: column;
	justify-self: center; 
	font-size: 40px;
	border: solid 5px rgb(222, 160, 35);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);

}
.back-toBtn{
	display: flex;
	flex-direction: column;
	justify-self: center; 
	margin: 20px;
	font-size: 40px;
	border: solid 5px rgb(222, 160, 35);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}